/* Background Image Styles (https://www.drupal.org/project/background_image). */

.background-image-wrapper {
  position: relative;
}

.background-image-full-viewport .background-image-wrapper::after {
  content: '';
  display: block;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.background-image-inner {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(0, 0, 0);
  z-index: -1;
}

.background-image,
.background-image::before,
.background-image::after {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  bottom: -40px;
  display: block;
  left: -40px;
  position: absolute;
  right: -40px;
  top: -40px;
  transform: translate3d(0,0,0) translateZ(0);
}

body:not(.background-image-full-viewport) .background-image {
  filter: blur(50px);
}


.background-image::before,
.background-image::after {
  content: '';
}

.background-image-overlay {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  transform: translate3d(0,0,0) translateZ(0);
}

body:not(.background-image-full-viewport) .background-image-overlay {
  display: none;
}

.background-image-full-viewport .background-image-text {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.background-image-text {
  width: 100%;
}

.background-image--_t6lr3D317Gp5ShQBa5IHmTeSnzRq-f9y-6eywqnUVU::before {
  background-color: #848c88;
  background-image: url("/sites/default/files/styles/background_image_preload/public/background_image/1573bc78a2bbd69501c0ea84ed7f6653.jpg?itok=rQwatPh7");
  -webkit-filter: blur(40px);
  filter: blur(40px);
}

.background-image--_t6lr3D317Gp5ShQBa5IHmTeSnzRq-f9y-6eywqnUVU::after {
  background-image: url("/sites/default/files/styles/background_image_lg/public/background_image/1573bc78a2bbd69501c0ea84ed7f6653.jpg?itok=c3-oq3wu");
}

