@font-face {
    font-family: 'Segoe UI';
    src: url(../fonts/segoe.ttf);
}

html,body{
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    color: #717171;
    font-family: 'Segoe UI';
    font-size: 24px;
    font-weight: 400;
}

a{
    text-decoration: none;
}

.container {
    width: 1135px;
    margin: auto;
}

/* HEADER */
.header{
    background-color: #ffffff;
	  box-shadow:0 1px 1px #ccc;
	  height: 120px;
    width: 100%;
	  box-sizing: border-box;
}

#block-metasonic-sitebranding-2{
    margin-top: 14px;
    width: 110px;
    float: left;
}

#block-useraccountmenu{
    float: right;
    display: block;
    margin-top: 20px;
    margin-right: 24px;
    color: #928b8b;
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}

#block-useraccountmenu li{
  display: inline-block;
  padding-left: 20px;
}

#block-useraccountmenu a:link{
    color: #928b8b;
}

#block-useraccountmenu a:visited{
    color: #928b8b;
}

#block-useraccountmenu a:hover{
    text-decoration: none;
    color:#3a9fff;
}

.menu--main{
    width: 1003px;
    height: 33px;
    background-color: #7e7e7e;
    float: right;
    margin-top: 2px;
}

.menu--main ul{
    margin: 0;
}

.menu--main li{
    display: inline;
    padding-left: 40px;
}

.menu--main a {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

.menu--main a:link{
    color: #fff;
}

.menu--main a:visited{
    color: #fff;
}

.menu--main a:hover{
    text-decoration: none;
    color:#3a9fff;
}

/* Search BAR */

#search-block-form{
    float: right;
    display: flex;
}

#search-block-form input[type="search"]{
    border: 3px solid #cccccc;
    border-right: none;
    padding: 5px;
    height: 20px;
    outline: none;
    font-family: 'Segoe UI';
    color: #928b8b;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.14px;
    line-height: 18px;
    text-align: left;
}

#search-block-form input[type="search"]:focus{
    color:#3a9fff;
}

#search-block-form input[type="submit"]{
    margin-top: 26px;
    height: 36px;
    border: 1px solid #969696;
    background-color: #969696;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

#search-block-form input[type="submit"]:before{
  content:'Su';
}

/* Default banner */
.banner {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../images/banner.jpg) center center no-repeat;
    background-size: cover;
}

.banner:before{
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	opacity: .6;
}

/* GRID ITEM */
.grid-item {
    width: 364px;
    height: 308px;
    background-color: #ffffff;
    text-align: center;
    margin-right: 92px;
    float: left;
}
.grid-item:last-child {
    margin-right: 0;
}

.grid-item h3 {
    font-family: Raleway;
    color: #b5141d;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 0 22px 0;
}

.grid-item p {
    font-family: 'Open Sans';
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin: 0 0 23px 0;
}

.grid-item a {
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    background: #b5141d;
    text-transform: uppercase;
    padding: 13px 19px;
    border-radius: 5px;
}

.grid-item a:hover {
    opacity: 0.8;
    transition: all 0.25s ease-out;
}

.grid-icon{
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto 36px;
    height: 52px;
    width: 52px;
    border: 2px solid #202020;
    border-radius: 5px;
    background-position: center;
    background-color: #202020;
}

/* FOOTER */

.footer {
  background: #343434;
  position: relative;
}

.footer nav{
  width: 150px;
  line-height: 27px;
  text-transform: uppercase;
  padding-top: 20px;
  margin-right: 50px;
  display: inline-table;
}

.footer h2{
  color:#fff;
  font-size: 16px;
  font-weight: 500;
}

.footer li{
  font-size: 10px;
  text-align: left;
  margin-right: 20px;
}

.footer a{
  color: #858585;
}

.footer a:link{
  color:#858585;
}

.footer a:visited{
  color:#858585;
}

.footer a:hover{
  color:#3a9fff;
}

nav.menu--footer{
  width: 100%;
  color: #bebebe;
  font-weight: 700;
  line-height: 27px;
  text-transform: uppercase;
}

nav.menu--footer ul{
  padding: 20px 0 0 0;
  margin: 0;
}

nav.menu--footer li{
  display: inline-block;
  list-style: none;
  margin-right: 20px;
  font-size: 16px;
}

nav.menu--footer li:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 4px solid #fcaf1e;
  border-right: 4px solid #fcaf1e;
  transform: rotate(45deg);
  margin-right: 3px;
}

nav.menu--footer a:link{
  color: #bebebe;
}

nav.menu--footer a:visited{
  color: #bebebe;
}

nav.menu--footer a:hover{
  color:#3a9fff;
}

