<div class="layout-container">

  <header class="header" aria-label="Heading">
    <div class="container">
      <div class="header-logo">
        <a href="/"><img src="/{{ directory }}/images/logo.png" alt=""></a>
      </div>
      <div class="header-right">
        <a href="" class="header-right__link">Login</a>
        <form class="search-form">
          <input class="search-form__input" placeholder="Search...">
          <button class="search-form__button"><img src="" alt=""></button>
        </form>
      </div>
      <div class="header-menu">
        <nav class="header-nav">
          {{ page.header }}
        </nav>
      </div>
    </div>
  </header>

  <section class="banner">
    <div class="banner-bg-img"></div>
    <div class="container">
      <div class="banner-content">

      </div>
    </div>
  </section>


</div>{# /.layout-container #}
