<div class="layout-container">

  <header class="header" aria-label="Heading">
    <div class="container">
      {{ page.header }}
    </div>
  </header>

  <section class="banner">
    {{ page.slideshow }}
  </section>

  <main>
    <div class="container">
      {{ page.content }}
    </div>
  </main>

  <footer class="footer">
    <div class="container">
      {{ page.footer }}
    </div>
  </footer>


</div>{# /.layout-container #}
